@font-face {
    font-family: 'psans-light';
    src: url(../fonts/product-sans/ProductSans-Light.ttf);
}

@font-face {
    font-family: 'appfont';
    src: url(../fonts/product-sans/ProductSansRegular.ttf);
}


body {
    /* font-family: 'appfont', sans-serif !important;*/
    /* font-family: 'psans-thin', sans-serif !important;*/
    font-family: 'psans-light', sans-serif !important;
}


.font-g-b {
    font-family: 'appfont', sans-serif !important;
}

.fade_rule {
    height: 1px;
    background-color: #E6E6E6;
    /* background-color: green; */
    width: 66.0em;
    margin: 0 auto;
    background-image: linear-gradient(left, white 2%, #E6E6E6 50%, white 98%);
    background-image: -o-linear-gradient(left, white 2%, #E6E6E6 50%, white 98%);
    background-image: -moz-linear-gradient(left, white 2%, #E6E6E6 50%, white 98%);
    background-image: -webkit-linear-gradient(left, white 2%, #E6E6E6 50%, white 98%);
    background-image: -ms-linear-gradient(left, white 2%, #E6E6E6 50%, white 98%);
    background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0.02, white), color-stop(0.5, gray), color-stop(0.98, white));
}


.btnx {
    background: #007a5a;
    /* background: #D96403;*/
    color: #fff;
    transition: all 75ms ease-in-out;
    padding: 15px 35px;
    font-weight: 900;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    cursor: pointer;
    text-shadow: none;
    border: none;
    /* border: 2px solid #D96403;*/
    border-radius: .25rem !important;
    box-shadow: none;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    white-space: nowrap;
    margin: 0;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.btnx:hover {
    background-color: #D96403;
}


.card {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    position: relative;
    margin-bottom: 1.5rem;
    width: 95%;
    border: 1px solid rgba(0, 40, 100, 0.12);
    border-radius: 8px !important;
    background-color: #fff;
    background-clip: border-box;
}


.form-control {
    padding: .75rem;
    min-height: 60px;
    max-width: 550px;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    /*    border: solid 1px #ececec;*/
    border: solid 1px #868686;

}



.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    /* padding: .375rem .75rem; */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    /* border: 1px solid #ced4da; */
    /* border-radius: .25rem; */

    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.input-group-addon {
    /*                        border: 1px solid rgba(0, 40, 100, 0.12);*/
    border: solid 1px #868686;
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.border-bottom {
    border-bottom: 1px solid rgba(112, 182, 236, 0.3);
}

.bg-white {
    background-color: #fff !important;
}

.fs-20 {
    font-size: 20px;
}
